# BASIC PYTHON HOMEWORK
This document is the answer for Basic Python Class at Telkomsel Data Science Academy, based on iykra webpages
<br>Name    : Edo Belva F
<br>NIK     : 92028
<br>Dataset : Googleplay
<br>Date    : Oct, 6, 2019

## Import Module and Load Dataset

In [4]:
import pandas as pd
googleplay = pd.read_csv('googleplaystore.csv')

### 1. How many rows and columns?

In [5]:
size=googleplay.shape
print('There are', size[1], 'columns and ', size[0],'rows in this dataset')

There are 13 columns and  10841 rows in this dataset

### 2. How many unique app categories in this dataset?

In [6]:
#Assuming that the data is valid, then
uniqcat = googleplay['Category'].unique()
print("There are ",len(uniqcat), 'unique categories in this dataset')

There are  34 unique categories in this dataset

### 3. How many unique app genres in this dataset?

In [7]:
#Assuming that the data is valid, then
uniqgen = googleplay['Genres'].unique()
print("There are ",len(uniqgen), 'unique genres in this dataset')

There are  120 unique genres in this dataset

### 4. Removing duplicate values

In [8]:
googleplay.drop_duplicates(subset='App', inplace=True)

### 5. Cleaning data dan revoming str in Installs column

In [9]:
googleplay = googleplay[googleplay['Installs'] != 'Free']
googleplay['Installs']=googleplay['Installs'].apply(lambda x: x.replace('+', '') if '+' in str(x) else x)
googleplay['Installs']=googleplay['Installs'].apply(lambda x: x.replace(',', '') if ',' in str(x) else x)

### 6. Convert Installs column to integer

In [10]:
googleplay['Installs']=googleplay['Installs'].astype(int)

### 7. Match Apps and Category based on provided dataset!

In [11]:
Apps = {'a' : 'Subway Surfers', 'b' : 'FIFA Soccer', 'c':'File Commander - File Manager/Explorer', 'd' : 'WhatsApp Messenger'
       , 'e' : 'Pinterest', 'f' : 'Dropbox', 'g' : 'DU Battery Saver - Battery Charger & Battery Life', 'h' : 'Flipboard: News For Our Time'}
for i in Apps :
    mask = googleplay['App'] == Apps[i]
    print('Category for the ',Apps[i],'application is',googleplay[mask].iloc[0,1])

Category for the  Subway Surfers application is GAME
Category for the  FIFA Soccer application is SPORTS
Category for the  File Commander - File Manager/Explorer application is BUSINESS
Category for the  WhatsApp Messenger application is COMMUNICATION
Category for the  Pinterest application is SOCIAL
Category for the  Dropbox application is PRODUCTIVITY
Category for the  DU Battery Saver - Battery Charger & Battery Life application is TOOLS
Category for the  Flipboard: News For Our Time application is NEWS_AND_MAGAZINES

### 8. Application that installed by more than 1 billion users

In [12]:
million = ['Facebook', 'Skype', 'WhatsApp Messenger', 'Google Duo - High Quality Video Calls']
df = googleplay[['App', 'Installs']]
df[df['App'].isin(million)]

                                        App    Installs
336                      WhatsApp Messenger  1000000000
371   Google Duo - High Quality Video Calls   500000000
2544                               Facebook  1000000000

In [13]:
#We can't find 'Skype' in the table, hence we need to find it in App name using :
df[df['App'].str.contains('Skype')].loc[:,['App','Installs']]

                                     App    Installs
264       Skype for Business for Android    10000000
364  Skype Lite - Free Video Call & Chat     5000000
391        Skype - free IM & video calls  1000000000

In [14]:
#Assuming the Skype that wanted is the 'Skype - free IM & video calls', then
million[1]='Skype - free IM & video calls'
df[df['App'].isin(million)]

                                        App    Installs
336                      WhatsApp Messenger  1000000000
371   Google Duo - High Quality Video Calls   500000000
391           Skype - free IM & video calls  1000000000
2544                               Facebook  1000000000

### 9. Arrange top COMMUNICATION category apps from the highest number of reviews to the lowest!

In [15]:
#convert reviews to integer
googleplay['Reviews']=googleplay['Reviews'].astype(int)

In [16]:
messenger = ['Viber Messenger','Skype - free IM & video calls','LINE', 'BBM']
df2=googleplay[googleplay.Category=='COMMUNICATION']
df2=df2[['App', 'Category', 'Reviews']]
df2[df2['App'].isin(messenger)].sort_values('Reviews', ascending=False)

                               App       Category   Reviews
342                Viber Messenger  COMMUNICATION  11334799
391  Skype - free IM & video calls  COMMUNICATION  10484169

In [17]:
#Since we can't find the value of LINE and BBM, we will find it like before
#finding the full application name of LINE
df2[df2['App'].str.contains('LINE')].loc[:,['App','Reviews']]

                             App   Reviews
403  LINE: Free Calls & Messages  10790289

In [18]:
#finding the full application name of BBM
df2[df2['App'].str.contains('BBM')].loc[:,['App','Reviews']]

                                          App   Reviews
406               BBM - Free Calls & Messages  12842860
6485  BBMoji - Your personalized BBM Stickers      8827

In [19]:
#after assuming the BBM that wanted is the BBM - Free Calls & Messages, then
messenger[2:3]=['LINE: Free Calls & Messages','BBM - Free Calls & Messages']

In [20]:
df2[df2['App'].isin(messenger)].sort_values('Reviews', ascending=False)

                               App       Category   Reviews
406    BBM - Free Calls & Messages  COMMUNICATION  12842860
342                Viber Messenger  COMMUNICATION  11334799
403    LINE: Free Calls & Messages  COMMUNICATION  10790289
391  Skype - free IM & video calls  COMMUNICATION  10484169

### 10. Arrange top 3 game category apps based on number of installed and rating!

In [21]:
game=googleplay[googleplay.Category=='GAME']

In [22]:
game=game[['App', 'Category','Rating','Installs']]
game = game.sort_values(['Installs','Rating'], ascending=[False, False])

In [24]:
game.head(4)

                   App Category  Rating    Installs
1654    Subway Surfers     GAME     4.5  1000000000
1722    My Talking Tom     GAME     4.5   500000000
1655  Candy Crush Saga     GAME     4.4   500000000
1661      Temple Run 2     GAME     4.3   500000000

### Alternate solution for number 9

In [27]:
message=googleplay[googleplay.Category=='COMMUNICATION']
message=message[['App', 'Category','Reviews','Installs']]
message=message.sort_values('Reviews', ascending=False)
message.head(10)

,App,Category,Reviews,Installs
336,WhatsApp Messenger,COMMUNICATION,69119316,1000000000
335,Messenger – Text and Video Chat for Free,COMMUNICATION,56642847,1000000000
378,UC Browser - Fast Download Private & Secure,COMMUNICATION,17712922,500000000
406,BBM - Free Calls & Messages,COMMUNICATION,12842860,100000000
342,Viber Messenger,COMMUNICATION,11334799,500000000
403,LINE: Free Calls & Messages,COMMUNICATION,10790289,500000000
391,Skype - free IM & video calls,COMMUNICATION,10484169,1000000000
338,Google Chrome: Fast & Secure,COMMUNICATION,9642995,1000000000
449,"Truecaller: Caller ID, SMS spam blocking & Dialer",COMMUNICATION,7820209,100000000
365,WeChat,COMMUNICATION,5387333,100000000